/* Pagamento */
.conteudo-preencher-pix {
    margin-top: 20px;
    align-items: end;
}
.caixacinzaInfoQRCode {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    font-size: 14px;
    width: 60%;
    color: #666;
    box-shadow: 0 px 100px rgba(0, 0, 0, 0.1);
}
.informacoesusuario {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.informacoesusuario input {
    width: calc(50% - 5px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botão de pagamento */
.gerarQRCode-button button {
    background-color: #5C77BF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
