* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    background-color: rgba(212, 175, 135, 0.6);
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.entrar {
    width: 290px;
    height: 490px;
    background-color: rgb(128, 121, 116);
    position: static;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0.0.1rem 0.5rem;

}

.paracadastrar {
    background-color: rgb(238, 232, 231);
    width: 490px;
    height: 490px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0.0.1rem 0.5rem;

}

h1 {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "GRAD" 0;
   
 
    text-align: center;
}

.botao {
    background-color: rgb(59, 58, 56);
    color: white;
    border-radius: 29px;
    padding: 20px 55px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.botao:hover {
    background-color: rgb(226, 110, 43);
    color: white;
}

h4 {
    margin-left: 90px;
    margin-top: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo {
    width: 290px;
    margin-top: -30px;
    margin-right: 100px;
}

.cadastro {
    margin-top: 90px;
}

input {
    background-color: rgb(192, 185, 179);
    border-radius: 10px;
    padding: 9px;
    width: 65%;
}

.cadastroo {
    background-color: rgb(111, 109, 106);
    padding: 20px;
    border-radius: 29px;
    width: 175px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.logotipo {
    display: flex;
    gap: 35px;
    margin-top: 24px;
    font-size: 22px;
    margin-left: 150px;
}

.logofacebook {
    margin-top: 90px;
    gap: 35px;
    font-size: 25px;
}

a {
    background-color: rgb(255, 255, 255);
    border-radius: 90px;
    padding: 10px 12px;
    border: 1px solid #50463a;
    transition: transform 0.3s;
    cursor: pointer;
}

a:hover {
    transform: scale(1.1);
}

i {
    background-color: rgb(131, 124, 124);
    border-radius: 90px;
    padding: 10px 12px;
    border: 1px solid #50463a;
    transition: transform 0.3s;
    cursor: pointer;
}

i:hover {
    transform: scale(1.1);
}
