/*Espaçamento do site*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*todo corpo do site*/
.inicio{
   margin: 0;
   padding: 0;
   display: flex;
   text-align: center;

justify-content: center;
height: 100vh;
align-items: center;

   }
 
   /* lado esquerdo*/
   .entrar{
width: 290px;
height:490px;
background-color: rgb(128, 121, 116);

border-top-left-radius: 30px;
border-bottom-left-radius: 30px;
box-shadow: 0.0.1rem 0.5rem;




   }
   /*Fazer alterções do lado direito da div*/
  
.paracadastrar{
    background-color: rgb(238, 232, 231);
    width: 490px;
    height: 490px;
  border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0.0.1rem 0.5rem;

}

/*bota entrar*/
.botao{
   background: transparent;
    color: white;
   background-color: rgb(59, 58, 56);
   border-radius: 29px;
   padding: 20px 55px;
   align-items: center;
   cursor: pointer;
   transition: background-color o.3s, color o.3s blue;
   text-decoration: none;
}
/*animação do botão entrar*/
.botao:hover{
    background-color: rgb(57, 53, 50);
    color:white;
}
/*Altera todos caracteres que usam H4*/
h4{
    margin-left: 90px;
    margin-top: auto;
    font-style: italic;
}
/*Logo da loja*/
.logo{
width: 230px;
margin-top: -30px;

    
    
   
}
.cadastro{
    margin-top: 50px;
   
}
/*Coloca as informções*/
input{
    background-color: rgb(192, 185, 179);
    border-radius: 10px;
    padding: 9px;
   width: 65%;

}
/*Botão direito de cadastro*/
.cadastroo{
    background-color: transparent;
    background-color: rgb(143, 134, 121);
    border-radius: 90px;
    padding: 20px 30px ;
    border: 1px solid #50463a;
    transition:transform 0.3s;
text-decoration: none;
color: black;

}
/*Animação do botão cadastro*/
.cadastroo:hover{
  transform: scale(1.1);
  background-color: rgb(149, 156, 162);
}
/*Alteração dos icones de redes sociais*/
.icones{
display: flex;
    gap: 35px;
    margin-top: -6px;
    font-size: 22px;
    margin-left: 150px;
    
}
    


/*Alteração dos icones de redes sociais*/
i{
   
    padding: 10px 12px ;
    
    background-color: rgb(255, 255, 255);
   border-radius: 90px;
    border: 1px solid #50463a;  
    transition:transform 0.3s;
    cursor: pointer;
}
  i:hover{
    transform: scale(1.1);}
 
  h4
   {text-decoration: none;}
  
  
  /*Alteração da frase de "esqueceu a senha"*/
 .esquecisenha{
    text-decoration: none;
   color: black;
   
    border-radius: 9px;
    padding: 9px;
    cursor: pointer;
    
 }

 .fundo{
    position: fixed;
    bottom: 0;
    z-index: -1;
    height:  90%;
    width: 50%;
}

@media(min-aspect-ratio: 16/9){
    .fundo{
        width: 100%;
        height: 100%;
        margin-left: -6%;
        z-index: -1;
    }
}

@media(max-aspect-ratio: 16/9){
    .back-video{
        width: 500.8%;
        height: auto;
        margin-left:9%;
    }
}
.fundo{
    background-image: url("/inicial.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(4px);
    position: absolute;

   }