/*Espaçamento do site*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*todo corpo do site*/
.inicio{
   margin: 0;
   padding: 0;
   display: flex;
   text-align: center;

justify-content: center;
height: 100vh;
align-items: center;

   }
   .fundo{
    background-image: url("/inicial.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(4px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;


   }
   /**/
   .entrar{
width: 290px;
height:490px;
background-color: rgb(128, 121, 116);
position: static;
border-top-left-radius: 30px;
border-bottom-left-radius: 30px;
box-shadow: 0.0.1rem 0.5rem;




   }
   /*Fazer alterções do lado direito da div*/
  
.paracadastrar{
    background-color: rgb(238, 232, 231);
    width: 490px;
    height: 490px;
  border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0.0.1rem 0.5rem;

}
h1{
   /*faz alteraçao em todos texto que tenha h1*/
    
   
      font-family: "Roboto Serif", serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      font-variation-settings:
        "wdth" 100,
        "GRAD" 0;
     
   
}
/*bota entrar*/
.botao{
   background: transparent;
    color: white;
   background-color: rgb(59, 58, 56);
   border-radius: 29px;
   padding: 20px 55px;
   align-items: center;
   cursor: pointer;
   transition: background-color o.3s, color o.3s blue;
   text-decoration: none;
}
/*animação do botão entrar*/
.botao:hover{
    background-color: rgb(122, 115, 111);
    color: white;
}
/*Altera todos caracteres que usam H4*/
h4{
    margin-left: 90px;
    margin-top: auto;
    font-style: italic;
}
/*Logo da loja*/
.logo{
width: 230px;
margin-top: -30px;
margin-right: 100px;
padding: -30px;
margin-right: 14px;
    
    
   
}
.cadastro{
    margin-top: 50px;
   
}
/*Coloca as informções*/
input{
    background-color: rgb(192, 185, 179);
    border-radius: 10px;
    padding: 9px;
    padding-left: px;
   width: 65%;

}
/*Botão direito de cadastro*/
.cadastroo{
    background-color: transparent;
    background-color: rgb(143, 134, 121);
    padding: 20px 20px;
    border-radius: 29px;
    width: 175px;
   cursor: pointer;
   transition: background-color o.3s, color o.3s rgb(222, 222, 237);

}
/*Animação do botão cadastro*/
.cadastroo:hover{
    background-color: rgb(122, 115, 111);
    color: white;
}
/*Alteração dos icones de redes sociais*/
.logotipo{
    display: flex;
    gap: 35px;
    margin-top: -6px;
    font-size: 22px;
    margin-left: 150px;
    
}

/*/*Animação dos icones de redes sociais*/*/
a{
    background-color: aqua;
   
   
    background-color: rgb(255, 255, 255);
    border-radius: 90px;
    padding: 10px 12px ;
    
    border: 1px solid #50463a;
    transition:transform 0.3s;
    cursor: pointer;
    text-decoration: none;
}
a:hover{
    transform: scale(1.1);
}
/*Alteração dos icones de redes sociais*/
i{
    background-color: rgb(255, 255, 255);
    padding: 10px 12px ;
    align-self: ;
    background-color: rgb(255, 255, 255);
   border-radius: 90px;
    border: 1px solid #50463a;  
    transition:transform 0.3s;
    cursor: pointer;
}
  i:hover{
    transform: scale(1.1);
  }z

  h4{
    text-decoration: none;
  }
  a{
    text-decoration: none;
    color: black;
  }