body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    display: block;
    overflow: auto;
}


.slogan_pg2{
    font-size: 24px; 
    margin: 1.25% 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 24px; 
    color: #000000; 
    text-transform: uppercase; 
    text-align: center; 
    position: fixed; 
    bottom: 0; left: 0; 
    width: 100vw; 
    background-color: #bdbdbd; 
    padding: 1.50% 0;
    position: fixed;
    z-index: 9999;
}
.button {
    background-color: #444444;
    color: #fff;
    padding: 0.52% 1.04%;
    text-decoration: none;
    border-radius: 0.26%;
    padding: 0.52% o;
position: fixed;
bottom: 2.08%; left: 0.78%; 
}
.footer {
    text-align: center;
    padding: 0.52%;
    background-color: #d3d3d3;
}
.footer .social-icons {
    margin-top: 0.52%;
}
.footer .social-icons a {
    margin: 0 0.26%;
    text-decoration: none;
    color: #333;
}

#divlogin{
    cursor: pointer;
}

.footer{    /*linha divisoria da marca */

    background-color: #d3d3d3;
    height: 15px;
    padding: 0.052%;
    
    }

.icons{ /*redes sociais*/
    cursor: pointer;
    position: fixed;
     bottom: 0; left: 0; 
     width: 100vw; 
     background-color: #bdbdbd; 
     text-align: center; 
     padding: 0.26% 0;
    z-index: 9999;
    }
    
.logo-container {
    text-align: center;
    background-color: #ffffff; 
    padding: 0.78%;
}
.logo-text {
    font-family: 'Times New Roman', Times, serif;
    color: #000000; 
    margin-left: 1.34%;
}
.logo-large {
    font-size: 72px; /* Tamanho grande */
    font-weight: bold;
}
.logo-small {
    font-size: 24px; /* Tamanho menor da fonte */
    margin-top: -0.52%; /*espaçamento*/
    margin-left: 2.34%;
}

    .login{
cursor: pointer;
margin-left: 85.71vw;
height:1.875vh;
top: 7.25vh;
padding: 10px;
line-height: 20.5vh;
}

.person >i{
font-size: 40px;
}
   
   

.buscar{
    position: absolute; 
    left: 7.73vw; 
    top: 9.75vh; /*altera a altura da barra de pesquisa */
    background-color: #d3d3d3;
    border-radius: 5px;
    
   }

   #txtbuscar{
cursor: pointer;
float: right;
background-color: transparent;
padding-left: 8px;
font-style: italic;
font-size: 15px;
border: none;
height: 3.75vh;
width:26.04vw;
top: 25vh;
color: rgb(0, 0, 0);
}





 .Marca a.button1{ /* butão balenciaga*/
    font-size: 24px; 
    font-weight: bold;
    color: #fff; 
    background-color: #818181; 
    padding: 5px 40px; 
    text-decoration: none; 
    border-radius: 5px;
    line-height: 37.5vh;
    margin-right: 53.27vw;
    border-radius: 10px;
    position: relative; 
    top: 46.25vh;
    cursor: pointer;
    font-family: Cinzel;
    }

    
    .Marca a.button2{ /* butão Louis Vitton*/
    font-size: 24px; 
    font-weight: bold;
    color: #fff; 
    background-color: #818181; 
    padding: 5px 40px; 
    text-decoration: none; 
    border-radius: 5px;
    margin-right: 29.4vw;
    margin-left: 30.1vw;
    border-radius: 10px;
    position: relative; 
    top: 25.5vh;
    cursor: pointer;
    font-family: Cinzel;
    }

    .Marca a.button3{ /* butão Nike*/
    font-size: 24px; 
    font-weight: bold;
    color: #fff; 
    background-color: #818181; 
    padding: 5px 40px; 
    text-decoration: none; 
    border-radius: 5px;
    margin-right: 60.29vw;
    margin-left: 73.2vw;
    border-radius: 10px;
    position: relative;
    top: 21.650vh;
    cursor: pointer;
    font-family: Cinzel;
    }

    .Marca a.button4{ /*butao do cinto Lw*/
    font-size: 24px; 
    font-weight: bold;
    color: #fff; 
    background-color: #818181; 
    padding: 5px 40px; 
    text-decoration: none; 
    border-radius: 5px;
    margin-right: 65.29vw;
    margin-left: 11.98vw;
    border-radius: 10px;
    position: relative;
    top: 65.25vh;
    cursor: pointer;
    font-family: Cinzel;
    }
    .Marca a.button5{ /*butão do tenis cinza*/
        font-size: 24px; 
        font-weight: bold;
        color: #fff; 
        background-color: #818181; 
        padding: 5px 40px; 
        text-decoration: none; 
        border-radius: 5px;
        margin-right: 57.29vw;
        margin-left: 43.7vw;
        border-radius: 10px;
        position: relative;
        top: 60.9vh;
        cursor: pointer;
        font-family: Cinzel;
    }

    .Marca a.button6{ /*butão bolsa */
        font-size: 24px; 
        font-weight: bold;
        color: #fff; 
        background-color: #818181; 
        padding: 5px 40px; 
        text-decoration: none; 
        border-radius: 5px;
        margin-right: 57.29vw;
        margin-left: 74.02vw;
        border-radius: 10px;
        position: relative;
        top: 56.75vh;
        cursor: pointer;
        font-family: Cinzel;

    }



.image{ /*tenis balenciaga*/
position: absolute;
left: 0.52vw;
top: 6.25vh;
margin-left: -14.33vw;
margin-right:38.46vw;
position: relative; 
top: -33.5vh;
cursor: pointer;
    }

.image2{ /*tenis Louis Vitton*/
    font-size: 24px;
    position: absolute;
    left: 0.52vw;
    top: 6.25vh;
    margin-left: 30.56vw;
    margin-right:36.46vw;
    position: relative; 
    top: -85vh;
    cursor: pointer;
}

.image3{ /*tenis Nike */ 
    font-size: 24px;
    position: absolute;
    left: 0.52vw;
    top: 6.25vh;
    margin-left: 30.56vw;
    margin-right:10.42vw;
    position: relative; 
    top: -64.875vh;
    cursor: pointer;
    border-radius: 15px #000000;   
} 
.icon-tenis { /*tenis icone */
    font-size: 50px;
    color: #ffffff;  
    text-shadow: 1px 1px 2px rgba(34, 0, 255, 0.2);
 }

 .icon-camisa { /*icon camisa*/
    font-size: 50px; 
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
 }

.intuito{
    margin-right: 26.04vw;
    margin-left: 28.65vw;
    border-radius: 10px;
    position: relative; 
    top: -43.75vh;
    font-family: Cinzel;

}

.image4{ /*cinto Louis Vuitton*/
    font-size: 24px;
    position: absolute;
    left: 0.52vw;
    top: 6.25vh;
    margin-left: 2.6vw;
    margin-right:56.88vw;
    position: relative; 
    top: -160vh;
    cursor: pointer;
}

.image5{ /*tenis cinza balanciaga*/
    
    font-size: 10%;
    position: absolute;
    left: 0.52vw;
    top: 6.25vh;
    margin-left: 20.63vw;
    margin-right:18.9vw;
    position: relative; 
    top: -209vh;
    cursor: pointer;
}
.image6{ /*bolsa balanciaga*/
    font-size: 10%;
    position: absolute;
    left: 0.52vw;
    top: 6.25vh;
    margin-left: 69.29vw;
    margin-right: 6.25vw;
    position: relative; 
    top: -259.25vh;
    cursor: pointer; 
}

.menulateral{
    width: 5.85vw;
    height: 76.2vh;
    background-color: #bdbdbd;
    padding: 35px 0 35px 0%;
    box-shadow: 3px 0 0 #f710ff;overflow: hidden;
    transition: .2s;
    position: absolute;
    top: 0px;
    position: fixed;
    }
    
    .menulateral:hover{
        width: 17.63vw;
    }
    
    .expandir{
    width: 100vw;
    padding-left: 0.89vw;
    }
    .expandir > i{
    color: #f710ff;
    font-size: 35px;
    cursor: pointer;
    }
    ul{
        height: 100vh;
        list-style-type: none;
    
    }
    
    ul li.item-menu{
    transition: 1s;
    }
    
    ul li.item-menu:hover{
    background:#f710ff;
    transform: scale(1.17);
    }
    
    
    ul li.item-menu a{
    color: rgb(0, 0, 0); /*cor dos icones*/
    text-decoration: none;
    font-size: 20px;
    padding: 1.4vw 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 5vh; /alinha o texto/
    }

        ul li.item-menu a .txt-link{
    margin-left: 1.3vw;
    }
    
    ul li.item-menu a .icon > i{
    font-size: 30px;
    }