/* Aplica margin e padding 0 a todos os elementos e define o box-sizing como border-box */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o body da página */
body {
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    background-color: rgba(212, 175, 135, 0.6);
    justify-content: center;
    height: 100vh;
    align-items: center;
    
}

/* Estilo para a div com a classe "entrar" */
.entrar {
    width: 290px;
    height: 490px;
    background-color: rgb(128, 121, 116);
    position: +relative;
    margin-left: -2%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0.0.1rem 0.5rem;
}

/* Estilo para a div com a classe "paracadastrar" */
.paracadastrar {
    background-color: rgb(238, 232, 231);
    width: 490px;
    height: 490px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0.0.1rem 0.5rem;
}

/* Estilo para todos os elementos h1 */
h1 {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "wdth" 100, "GRAD" 0;
    text-align: center;
}

/* Estilo para a classe "botao" (usado em botões) */
.botao {
    background-color: rgb(59, 58, 56);
    color: white;
    border-radius: 29px;
    padding: 20px 55px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Efeito de hover no botão */
.botao:hover {
    background-color: rgb(226, 110, 43);
    color: white;
}

/* Estilo para a classe "logo" */
.logo {
    width: 290px;
    margin-top: -30px;
    margin-right: 100px;
}

/* Estilo para a classe "cadastro" */
.cadastro {
    margin-top: 90px;
}

/* Estilo para os campos de entrada (input) */
input {
    background-color: rgb(192, 185, 179);
    border-radius: 10px;
    padding: 9px;
    width: 65%;
}

/* Estilo para o botão de envio com a classe "cadastroo" */
.cadastroo {
    background-color: rgb(111, 109, 106);
    padding: 20px 40px;
    border-radius: 29px;
    width: 175px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    color: black;
    
}
h6{
    margin-top: 30px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo para a classe "logotipo" */
.logotipo {
    display: flex;
    gap: 35px;
    margin-top: 24px;
    font-size: 22px;
    margin-left: 150px;
}

/* Estilo para a classe "logofacebook" (para ícones de redes sociais) */
.logofacebook {
    margin-top: 90px;
    gap: 35px;
    font-size: 25px;
}

/* Estilo para links (a) */
a {
    background-color: rgb(255, 255, 255);
    border-radius: 90px;
    padding: 10px 12px;
    border: 1px solid #50463a;
    transition: transform 0.3s;
    cursor: pointer;
}

/* Efeito de hover nos links */
a:hover {
    transform: scale(1.1);
}

/* Estilo para ícones (i) */
i {
    background-color: rgb(131, 124, 124);
    border-radius: 90px;
    padding: 10px 12px;
    border: 1px solid #50463a;
    transition: transform 0.3s;
    cursor: pointer;
}

/* Efeito de hover nos ícones */
i:hover {
    transform: scale(1.1);
}
@media(min-aspect-ratio: 16/9){
    
    .fundo{
        width: 100%;
        filter: blur(4px);
        height: 100%;
        margin-left: -6%;
        position: fixed;
        z-index: -1;
    
    }
}

@media(max-aspect-ratio: 16/9){
    .back-video{
        
        width: 500.8%;
        height: auto;
        margin-left: -6%;
    }
}