*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Livvic", sans-serif;
    font-weight: 200;
    font-style: normal;
}

body{
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #fffff5 100%);
    margin-top: 15%;
    height: 26.27vh;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: -10%;
    box-shadow: 0 0.1rem 0.5rem rgb(156, 153, 153);
    width: 100%;
    height: 12%;
    top: 0.2%;
    background-color: white;
    transition: all 0.5s;
    position: absolute;
    z-index: 1;
}


.logo{
    color: black;
    font-size: 1rem;
    font-weight: 600;
    height: 50%;
    width: 65%;
    padding-top: 2;
    text-align: center;
    display: flex;
    margin-left: 218%;
    margin-top: 3%;
}

.divlogo{
    position: absolute;
    width: 20%;
    height: 19%;
    left: 16px;
    top: -10px;
    flex: none;
    order: 8;
    flex-grow: 0;
    z-index: 1;
    height: 200%;
    cursor: pointer;
}

.icons{
    font-size: 120%;
    position: flex;
    margin-left: 92%;
    margin-top: 2%;
    
}

.bx-md{
    color: black;
    transition: transform 0.5s;
    background-color: #c3bebe;
    border-radius: 50%;
    padding: 4px;
    margin: 2%;
    cursor: pointer;
}

.bx-md:hover{
    transform: translateX(5px);
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 25%;
}

nav .menuu{
    display: flex;
    align-items: center;
    margin:6%;
    margin-top: %;
}

.divlogo .menulateral{
    position: fixed;
    margin-top: -6.3%;
    height: 100%;
    width: 15%;
    padding: 2%;
}

.divlogo .menu-icone{
    color: #525552;
    margin-top: 10.7%;
}

.menulateral .nomee{
    font-size: 130%;
    font-weight: 200%;
    margin-top: 2%;
    color: #525552;
    position:flex;
    margin-bottom: 100%;
    margin-left: 3%;
}
    

.menu-icone{
    font-size: 130%;
    cursor: pointer;
    margin-right: 11%;
    margin-left: 2%;
    margin-top: -2%;
    color: #525552;

}



.menuu .nomemenu{
    font-size: 110%;
    font-weight: 200%;
    margin-top: -4.1%;
    color: #525552;
    margin-left: 1%;
}

 .nomee{
    font-size: 110%;
    margin-top: -0.1%;
    color: #697069;
    margin-left: -3200%;
    margin-top: 10%;
}

nav .menulateral{
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 18%;
    padding: 2%;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 10;
    background-color: white;
}

nav.open .menulateral{
  left: 0;
}

.menulateral .conteudodomenu{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 8%;
}

.conteudodomenu .lista{
    list-style: none;
}

.iconeslista{
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 2%;
  border-radius: 1rem;
  text-decoration: none;
  cursor: pointer;
  z-index: 8;
  transition: transform 0.5s;
}

.iconeslista:hover{
    transform: translateX(5px);
}

.iconeslista .nomesdalista{
    margin-left: 12%;
    margin-top: 14%;
    font-size: 105%;
    color: #525552;
}

.iconebarra{
    font-size: 130%;
    color: #525552;
    margin-top: 14%;
    margin-left: -2%;

}

.overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, 0.3);
  }
  nav.open ~ .overlay {
    opacity: 0;
    left: 260px;
    pointer-events: auto;
    display: block;
  }


nav .menudireito{
    position: fixed;
    top: 0;
    left: 63%;
    height: 100%;
    width: 39%;
    padding: 2%;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    background-color: white;
    z-index: 10;
    display: none;
}

nav.openn .menudireito{
    left: 0;
}


.menudireito .menucont{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 8%;
}

.red input{
color: red;
}

form input{
    box-sizing: border-box;
    width: 200%;
    height: 25%;
    padding: 1rem;
    font: inherit;
    border-radius: 0.5rem;
    background-color: white;
    transition: 150ms ease;
    position: flex;
    align-items: center;
    margin-left: -19%;
    border-color: black;
    margin-top: 10%;
}

form span{
    margin-left: -18.55%;
}   

.senhaa{
    margin-left: -10%;
    color:rgb(0, 0, 0);
    font-size: 100%;
    margin-top: 4%;
}

.icone-abrir{
    margin-left: 90%;
    font-size: 150%;
}

form button{
    margin-top: 15%;
    border-radius: 4rem;
    padding: .85em 4em;
    background-color: black;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: 150ms ease;
    width: 90%;
    margin-left: -19%;
    text-transform: uppercase;
    border-color: black;
    width: 200%;
    height: 25%;
}

form button:hover{
    background-color: white;
    border-color: rgb(153, 152, 152);
    color: black;
}

.campologin h1{
    margin-top: -5%;
    margin-left: -11.8%;
}
.campologin p{
    margin-top: 6%;
    margin-left: -11.8%;
}


.recuperar {
    margin-top: 5%;
    margin-left: 5%;
    position: flex;
    height: 10%;
}


.menu-button{
    display: flex;
    cursor: pointer;
}

.menudireito .menu-button{
    margin-left: 3000%;
    cursor: pointer;

}

.menu-pesquisa{
 margin-left: -1450%;
}


.legenda{
    display: inline-block;
    color: rgb(255, 248, 248);
    margin-top: 295%;
    margin-bottom: 20%;
    margin-right: 250%;
    margin-left: 330%;
    left: 25%;
    white-space: nowrap
}

.legenda a{
    color: #fffbfb;
    margin-top: 295%;
    margin-bottom: 20%;
    margin-right: 250%;
    margin-left: 390%;
    left: 25%;
}

.legenda p{
    margin-top: 2%;
    margin-bottom: 20%;
    margin-right: 25%;
    margin-left: 26%;
    left: 25%;
    font-size: 110%;
}

nav .meucarrinho{
    position: fixed;
    top: 0;
    left: 63%;
    height: 100%;
    width: 39%;
    padding: 2%;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    background-color: white;
    z-index: 10;
    display: none;
}

.menu-button2{
    display: none;
    cursor: pointer;
}

.select-menu{
    width: 15%;
    margin-top: 35%;
    top: 120%;
    margin-left: 30%;
    height: 25%;
    z-index: 22222222222;
}

.select-menu .select-btn{
    display: flex;
    height: 9%;
    background: #fff;
    padding: 8%;
    font-size: 89%;
    font-weight: 400;
    width: 100%;
    margin-top: 20%;
    margin-left: -5%;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    z-index: 22222222;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.select-btn i{
    font-size: 25px;
    transition: 0.3s;
}
.select-menu.active .select-btn i{
    transform: rotate(-180deg);
}
.select-menu .options{
    position: relative;
    height: 18vh;
    padding: 8%;
    width: 100%;
    margin-top: 1%;
    margin-left: -5%;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
}
.select-menu.active .options{
    display: block;
}
.options .option{
    display: flex;
    height: 4%;
    cursor: pointer;
    padding: 5%;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}
.options .option:hover{
    background: #F2F2F2;
}
.option i{
    font-size: 20%;
    margin-right: 12px;
}
.option .option-text{
    font-size: 88%;
    color: #333;
}

nav .cart{
    position: fixed;
    top: 0;
    left: -1%;
    right: 5%;
    height: 100%;
    margin-top: 10%;
    width: 52%;
    padding: 2%;
    z-index: -1;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    background-color: white;
}

.contcart{
    margin-top: 2%;
    font-size: 19%;

}

a{
    margin-top: 25%;
    margin-left: 60%;
}
p {
    white-space: nowrap;
    margin-left: 60%;
    color: #525552;
}

.tenisb{
    z-index: 999999999;
    width: 40%;
    box-shadow: black;
}
.nomet .tenisa {
    color: black;
    font-size: 110%;
}

.cor {
    font-size: 110%;
    color: black;
}
.cor2 {
    font-size: 110%;
    color: black;
    white-space: nowrap;
    margin-top: -3%;
    margin-left: 90%;
    
}
.tamanho2 {
    font-size: 110%;
    color: black;
    white-space: nowrap;
    margin-top: -3%;
    margin-left: 90%;
    
}
.material2 {
    font-size: 110%;
    color: black;
    white-space: nowrap;
    margin-top: -3%;
    margin-left: 90%;
    
}
.Material{
    font-size: 110%;
    color: black;
}

.Tamanho{
    font-size: 110%;
    color: black;
}
.iconecart h1{
    white-space: nowrap;
    margin-top: -59%;
    margin-left: -70%;
}

.continuar p {
    color:#525552 ;
    margin-top: -5%;
    margin-left: 81%;
    transform: translateX(5px);
}

.continuar p:hover{
    color:black ;
}

.back{
    position: fixed;
    height: 100%;
    width: 25%;
    margin-top: -25.3%;
    margin-left: -1.5%;
    z-index: -1;
    background: hsla(0, 0%, 100%, 1);

    background: linear-gradient(180deg, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 99%, 1) 36%, hsla(0, 2%, 82%, 1) 100%);
    
    background: -moz-linear-gradient(180deg, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 99%, 1) 36%, hsla(0, 2%, 82%, 1) 100%);
    
    background: -webkit-linear-gradient(180deg, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 99%, 1) 36%, hsla(0, 2%, 82%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFFFF", endColorstr="#FCFCFC", GradientType=1 );
}


.vertical {
    border-left: 2% solid #ecf1ec;
    height: 120%;
    position:absolute;
    left: 50%;
    margin-top: -9%;
}

.horizontal{
margin-left: 50%;
color: #d20808;
width: 54.2%;
margin-top: 2.4%;
}

.convtcart .image{
    margin-top: 50%;
    width: 80%;
    margin-left: 10%;
    position: flex;
}
.convtcart {
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #fffff5 100%);
    box-sizing: border-box;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    width: 54.6%;
    margin-top: -11%;
    height: 80%;
    margin-left: -4.9%;
}

.finalizar{
    position: fixed;
    top: 0;
    left: 51.5%;
    right: -50%;
    height: 100%;
    margin-top: 6%;
    width: 50%;
    padding: 2%;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #fffff5 100%);
}

.container {
    position: fixed;
    height: 100%;
    margin-top: -29.8%;
    width: 52%;
    padding: 2%;
    z-index: -1;
    margin-left: 52%;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    background-color: white;
}
    


h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    color: #555;
    margin-left: 2%;
}

input[type="text"] {
    padding: 1%;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 55%;
    margin-top: -1%;
    margin-left: 1%;
}

input[type="checkbox"]{
    color: red;
    margin-left: 1.2%;
    padding: 0.5%;
}


.button1 {
    background-color: #100f0f;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    height: 1%;
    margin-top: -6.8%;
    margin-left: 58%;
    width: 25%;
    padding: 1.2%;
    align-items: center;
}

button:hover {
    background-color: #0056b3;
}

h3 {
    font-size: 16px;
    color: #333;
    padding: 2%;
    margin-left: -1%;
}

#shippingOptions div {
    margin-bottom: 10px;
}

#result {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}



#unitPrice #finaliza{
    background-color: #100f0f;
    color: white;
    border: 1px solid black;
    border-radius: 4em;
    cursor: pointer;
    height: 1%;
    margin-top: -2.8%;
    margin-left: 54%;
    width: 25%;
    padding: 0.5%;
    align-items: center;
}

#unitPrice #finaliza:hover{
    background-color: white;
    border-color: rgb(153, 152, 152);
    color: black; 
}


#unitPrice #span {
    position: absolute;
    white-space: nowrap;
    top: 50%;  /* Ajuste conforme necessário */
}
.currentPrice1 {
    position: absolute;
    white-space: nowrap;
    top: 58%; 
}

.currententrega1 {
    position: absolute;
    white-space: nowrap;
    top: 54%; 
}

.currenttotal {
    position: absolute;
    white-space: nowrap;
    top: 62%; 
}