body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
}

.logo-container { /*logo da loja*/
    text-align: center;
    background-color: #ffffff; 
    padding: 15px;
}
.logo-text { /*logo da loja*/
    font-family: 'Times New Roman', Times, serif;
    color: #000000; 
    margin-left: -9.90vw;
    margin-right: 54.69vw;
    line-height: 9vh;
    
}
.logo-large {
    font-size: 72px; /* Tamanho grande */
    font-weight: bold;
}
.logo-small {
    font-size: 30px; /* Tamanho menor da fonte */
    margin-top: -0.52vh; /*espaçamento*/
    margin-left: -7.81vw;
}

.img{ /*imagem da mao*/
max-width:28.65vw;
border-radius: 10px;
border-color: rgb(255, 0, 0);
padding: 0;
position: fixed;

}

.icon{ /*icone de voltar*/
margin-left: 28.04vw;
cursor: pointer;
z-index: 10px;
position: absolute; 
top: 0; 
left: 0; 
line-height: 20.89vh;
font-family: Cinzel;
font-size: 20px;
}
.icon >i{
margin-left: 31.25vw;

}

.Bvoltar{ /*botao de voltar*/
    color: darkblue;
}

.person1{ /*menu perfil*/
    margin-left: 90.92vw;
    position: absolute;
    left: 4.20vw;
    top: 7.09vh;
    color: black;
}

.circle{ /*cor do meu perfil*/
    color: #000000;
}
.carrin{ /*carrinho*/
    margin-left: 90.92vw;
    position: absolute;
    left: 1.82vw;
    top: 7.09vh;
    color: black;
}
.cart2{ /*cor do carrinho*/
    color: black;
}

.Rup{ /*imagem roupa 1 */
margin-left: 32.9vw;
max-width: 19.63vw;
height: auto;
font-size: 30px;
padding: 1.56vw;
}
.Rup:hover{
    transform: scale(1.10);
}

.Roupa1 {
    width: 50%; /* Ajuste a largura para 50% do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    max-width:19.63vw; /* Define um tamanho máximo para a largura */
    border-radius: 10px;
  }
  
  .Rup2{ /*imagem roupa 2*/
margin-left: 32.9vw;
max-width: 19.63vw;
height: auto;
font-size: 30px;
padding: 1.56vw;
  }
  .Rup2:hover{
    transform: scale(1.15);
}
  
.Roupa2{
    width: 50%; 
    height: auto; 
    max-width: 19.63vw; 
    border-radius: 10px;
}

.Rup3{ /*imagem roupa 3*/  
margin-left: 55.60vw;
max-width: 19.63vw;
height: auto;
font-size: 30px;
padding: 1.56vw;
}
.Rup3:hover{
    transform: scale(1.09);
}
.Roupa3{
width: 48%; 
height: auto; 
max-width: 19.63vw; 
position: relative;
top: -27.46vh;
border-radius: 10px;
}

.tn4{ /*imagem tenis 4*/
margin-left: 55.60vw;
max-width: 19.63vw;
height: auto;
font-size: 30px;
padding: 1.56vw;
}
.tn4:hover{
    transform: scale(1.05);
}
.tenis4{
width: 48%; 
height: auto; 
max-width: 19.63vw; 
position: relative;
top: -85.19vh;
border-radius: 10px;
}

.ml5{ /*imagem mala 5*/
    margin-left: 76.03vw;
    max-width: 30.63vw;
    height: auto;
    font-size: 30px;
    padding: 1.90vw;
}

.mala5{
width: 55%; 
height: auto; 
max-width: 19.63vw; 
position: relative;
top: -113.56vh;
border-radius: 10px;
}
.ml5:hover{
    transform: scale(1.05);
}
.bg6{ /*imagem bag 6*/
    margin-left:77.03vw;
    max-width: 19.63vw;
    height: auto;
    font-size: 30px;
    padding: 1.56vw;
}
.bag6:hover{
    transform: scale(1.10);
}
.bag6{
width: 57%; 
height: auto; 
max-width: 19.63vw; 
position: relative;
top: -119.48vh;
border-radius: 10px;
}

.SLOGAN{
margin-left: 35.25vw;
max-width: 60.46vw;
height: auto;
font-size: 20px;
padding: 1.56vw;
width: 70%;
position: relative;
top: -196.89vh;
font-family: Cinzel;
color: rgb(19, 103, 44);
}
