/* Aplica margin e padding 0 a todos os elementos e define o box-sizing como border-box */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o body da página */
body {
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    background-color: rgb(212, 175, 135, 155);
    justify-content: center;
    height: 100vh;
    align-items: center;
}

/* Estilo para a div com a classe "entrar" */
.entrar {
    width: 290px;
    height: 490px;
    background-color: rgb(128, 121, 116);
    position: static;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* Estilo para a div com a classe "paracadastrar" */
.paracadastrar {
    background-color: rgb(238, 232, 231);
    width: 490px;
    height: 490px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}



/* Estilo para a classe "botao" (usado em botões) */
.botao {
    background: transparent;
    color: white;
    background-color: rgb(59, 58, 56);
    border-radius: 29px;
    padding: 20px 55px;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s blue;
}

/* Efeito de hover no botão */
.botao:hover {
    background-color: rgb(226, 110, 43);
    color: white;
}

/* Estilo para a classe "logo" */
.logo {
    width: 290px;
    margin-top: -30px;
    margin-right: 100px;
    padding: -30px;
}

/* Estilo para a classe "cadastro" */
.cadastro {
    margin-top: 120px;
    margin-bottom: 20px;
}

/* Estilo para os campos de entrada (input) */
input {
    background-color: rgb(192, 185, 179);
    border-radius: 10px;
    padding: 9px;
    padding-left: px;
    width: 65%;
}

/* Estilo para o botão de envio com a classe "cadastroo" */
.cadastroo {
    background-color: transparent;
    background-color: rgb(111, 109, 106);
    padding: 20px 30px;
    border-radius: 29px;
    width: 175px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s rgb(222, 222, 237);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}

/* Estilo para a classe "logotipo" */
.logotipo {
    display: flex;
    gap: 35px;
    margin-top: 49px;
    font-size: 25px;
    margin-left: 193px;
}

/* Estilo para a classe "logofacebook" (para ícones de redes sociais) */
.logofacebook {
    margin-top: 90px;
    gap: 35px;
    font-size: 25px;
}

/* Estilo para links (a) */
a {
    background-color: rgb(114, 106, 106);
    border-radius: 90px;
    padding: 10px 12px;
    border: 1px solid #50463a;
    transition: transform 0.3s;
    cursor: pointer;
}

/* Efeito de hover nos links */
a:hover {
    transform: scale(1.1);
}

/* Estilo para links com a classe "a" */
.a {
    background-color: rgb(131, 124, 124);
    border-radius: 90px;
    padding: 10px 12px;
    border: 1px solid #50463a;
    transition: transform 0.3s;
    cursor: pointer;
}

/* Efeito de hover nos links com a classe "a" */
.a:hover {
    transform: scale(1.1);
}
