* { 
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #C5C3C3;
}

header {
    text-align: center;
    padding-top: 1%;
    position: relative;
    z-index: 1;
}

.logo {
    max-width: 130px;
    height: auto;
}

.header-bar {
    width: 100%;
    height: 1px;
    background-color: black;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    min-height: 55vh; 
    padding-top: 20px;
    position: relative; 
}

.container-central {
    width: 80%; 
    max-width: 50%; 
    background-color: #F5F4EF;
    border-radius: 10px;
    box-shadow: 0 4px 6px #282829;
    text-align: center;
    color: #797777;
    padding: 40px 20px;
    margin-bottom: 20px; 
}

.imagem-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.imagem-container img {
    width: 20%;
    object-fit: contain;
}

.botao-navegar {
    background-color: #5C77BF;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    position: absolute; 
    bottom: -25px; 
    right: 25%; 
}
