body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
}

.logo-container { /*logo da loja*/
    text-align: center;
    background-color: #ffffff; 
    padding: 15px;
}
.logo-text { /*logo da loja*/
    font-family: 'Times New Roman', Times, serif;
    color: #000000; 
    margin-left: -9.90vw;
    margin-right: 54.69vw;
    line-height: 9vh;
    
}
.logo-large {
    font-size: 72px; /* Tamanho grande */
    font-weight: bold;
}
.logo-small {
    font-size: 30px; /* Tamanho menor da fonte */
    margin-top: -0.52vh; /*espaçamento*/
    margin-left: -7.81vw;
}

.img{ /*imagem da mao*/
max-width: 28.65vw;
border-radius: 10px;
border-color: rgb(255, 0, 0);
padding: 0;
position: fixed;

}

.icon{ /*icone de voltar*/
margin-left: 28.04vw;
cursor: pointer;
z-index: 10px;
position: absolute; 
top: 0; 
left: 0; 
line-height: 20.89vh;
font-family: Cinzel;
font-size: 20px;
}
.icon >i{
margin-left: 31.25vw;

}

.Bvoltar{ /*botao de voltar*/
    color: darkblue;
}

.person1{ /*menu perfil*/
    margin-left: 90.92vw;
    position: absolute;
    left: 4.20vw;
    top: 7.09vh;
    color: black;
}

.circle{ /*cor do meu perfil*/
    color: #000000;
}
.carrin{ /*carrinho*/
    margin-left: 90.92vw;
    position: absolute;
    left: 1.82vw;
    top: 7.09vh;
    color: black;;
}
.cart2{ /*cor do carrinho*/
    color: black;
}

.RJ{ /*imagem relogio 1 */
margin-left: 32.9vw;
max-width: 19.63vw;
height: auto;
font-size: 30px;
padding: 1.56vw;
}
.RJ:hover{
    transform: scale(1.10);
}

.R1 {
    width: 50%; /* Ajuste a largura para 50% do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    max-width: 19.63vw; /* Define um tamanho máximo para a largura */
    border-radius: 10px;
  }
  
  .RJ2{ /*omagem relogio 2*/
margin-left: 32.9vw;
max-width: 19.63vw;
height: auto;
font-size: 30px;
padding: 1.56vw;
  }
  .RJ2:hover{
    transform: scale(1.10);
}
  
.R2{
    width: 49%; 
    height: auto; 
    max-width: 19.63vw; 
    border-radius: 10px;
}

.RJ3{ /*omagem relogio 3*/
margin-left: 55.90vw;
max-width: 19.63vw;
height: auto;
font-size: 30px;
padding: 1.56vw;
}
.R3:hover{
    transform: scale(1.05);
}
.R3{
width: 48%; 
height: auto; 
max-width: 19.63vw; 
position: relative;
top: -30.50vh;
border-radius: 10px;
}

.RJ4{ /*omagem relogio 4*/
margin-left: 55.90vw;
max-width: 19.63vw;
height: auto;
font-size: 30px;
padding: 1.56vw;
}
.RJ4:hover{
    transform: scale(1.05);
}
.R4{
width: 47%; 
height: auto; 
max-width: 19.63vw; 
position: relative;
top: -92.20vh;
border-radius: 10px;
}

.RJ5{ /*omagem relogio 5*/
    margin-left: 77.5vw;
    max-width: 19.63vw;
    height: auto;
    font-size: 30px;
    padding: 1.56vw;
}

.R5{
width: 48%; 
height: auto; 
max-width: 19.63vw; 
position: relative;
top: -122.80vh;
border-radius: 10px;
}
.RJ5:hover{
    transform: scale(1.02);
}
.RJ6{ /*omagem relogio 6*/
    margin-left: 77.3vw;
    max-width: 19.63vw;
    height: auto;
    font-size: 30px;
    padding: 1.56vw;
}
.RJ6:hover{
    transform: scale(1.02);
}
.R6{
width: 51%; 
height: auto; 
max-width: 19.63vw; 
position: relative;
top: -122.81vh;
border-radius: 10px;
}

.SLOGAN{
    margin-left: 35.25vw;
    max-width: 60.46vw;
    height: auto;
    font-size: 20px;
    padding: 1.56vw;
    width: 70%;
    position: relative;
    top: -204.90vh;
    font-family: Cinzel;
    color: rgb(43, 5, 125);
}

.active{
    width: 90%;
    float: right;
    border-radius: 50px;
    border: 4px solid rgb(39, 252, 46);
}