*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* div de toda a tela do site*/
body{
    margin-top: 350px;
         padding: 0;
        display: flex;
        text-align: center;
     background-color: rgb(222, 208, 208);
     justify-content: center;
     height: 100vh;
     align-items: center; 
     border-radius: 40px;
   }
 /*Uma div dentro de outra div */
.entrar{
    
    margin-bottom: 50%;
    background-color: rgb(243, 238, 236);
    width: 90vh;
    border-radius: 20px;
    box-shadow: 0.0.1rem 0.5rem;
}

   
  
/* formata titulo*/
h1{
    
    align-content: center;
    align-items: center;
    margin-top: 49px;
    font-family: 'Courier New', Courier,;
    margin-bottom: 90px;
}


/* alinhar logo*/

.logo{
width: 290px;
margin-top: -60px;
margin-right: 100px;
padding: -30px;
margin-left: 100px;

    
    
   
}



