* { 
    text-decoration: none;
}

.choose-payment-again{
    margin-top: 2%;
    gap: 2em;
    padding: 1px;
}

.container-pagamento {
    background-color: #F5F4EF;
    border: 1px solid #ccc;
    border-radius: 9px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    display: flex; 
    flex-direction: column; 
}

.icone-imagem {
    width: 2.3;
    margin-right: 10px;
}

.radio-options {
    display: flex;
    flex-direction: column;
    
}

.radio-option {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 1em;
    padding: 1em;
    label {
        width: 10em;
        white-space: nowrap;
    }
}

input:not([type="radio"]), select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.linha-horizontal {
    display: flex;
    gap: 10px;
}

.usuario-dados {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.divider {
    margin: 20px 0;
    height: 1px;
    background-color: black;
}

.botao-azul-pagamento-concluido {
    display: flex; 
    justify-content: flex-end;
    margin-top: 4%;
    padding-right: 20%; 
    margin-bottom: 1%;
}

.btn-pagar {
    background-color: #5C77BF;
    color: #fff;
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#cartao-form.collapsed {
    opacity: 0;
    height: 0;
    visibility: hidden;
}

#cartao-form {
    transition: opacity 2.0s ease, height 1.0s ease;
}
